<!DOCTYPE html>
<html>
  <head>
    <title>Tasks</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
        <ul class="nav nav-tabs">
          <li><%= link_to "Home", root_path%></li>
            <li><%= link_to "Projects", projects_path %></li>
            <li><%= link_to 'Tasks', tasks_path %></li>
        </ul>
        <% if notice %>
          <p class="alert alert-success"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert alert-danger"><%= alert %></p>
        <% end %>
      <div class="content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
